{% extends 'account/layout/base.html' %}

{% block title %}Reset your password{% endblock %}


{% block wrapper %}

<!-- signup card -->
  <div class="container">
<!--     <h1 class="text-center logo my-4">
      <a href="{% url 'boards:board_index' %}">Django Boards</a>
    </h1> -->
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card shadow mt-3">
          <div class="card-body">
            <h3 class="card-title">Reset Your Password</h3>
            <form method="post" novalidate>
              {% csrf_token %}
                {% include 'account/partials/_form.html' %}
              <button type="submit" class="btn btn-primary btn-block">
              Send password reset email
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- /signup card -->
{% endblock %}

